i {
    color: blue;
    border: none;
    margin: 0px;
    border-style: none;
}
.example-icon{
    cursor: pointer !important;
}
.fa-bars{
    border: none !important;
    cursor: pointer !important;
}
