
.table .table-header tr th {
    background-color: rgba(88, 77, 159, 0.263);
}
.title {
    text-align: center;
    color: blue;
}

td[rowspan] {
    vertical-align: middle;
    text-align: center;
    font-size:xx-large;
    color: green;
  }
  