strong {
    color: green;
}/* Custom CSS for fixed header */
.header-fixed {
    position: sticky;
    top: 0;
    background-color: #fff; /* Change background color as needed */
    z-index: 1000; /* Ensure header stays on top of other elements */
  }
  
