<h2 class="title sticky-top">Continuous Integration</h2>
<div class="scroll">
    <table class="table table-bordered mat-elevation-z8 mt-3">
        <thead>
            <tr>
                <th>Practice Stage</th>
                <th>CI prerequisites

                </th>
                <th>Stage Score</th>
                <th>Points</th>
                <th>Account Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>We have no process for CI.

                </td>
                <td>1</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val1" value="1"
                            [(ngModel)]="selectedScore2_1" matTooltip="1" [matTooltipPosition]="'right'">
                    </div>
                </td>

                <td rowspan="5"> {{ selectedScore2_1 }}</td>
            </tr>
            <tr>
                <th scope="row">Initial</th>
                <td>Developers (database and app) check in code to development branch.
                </td>
                <td>3</td>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val1" value="3"
                            [(ngModel)]="selectedScore2_1" matTooltip="3" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Developed</th>
                <td>We have automated testing cycles run on developers' work branches prior to check-in to development
                    branch.

                </td>
                <td>5</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val1" value="5"
                            [(ngModel)]="selectedScore2_1" matTooltip="5" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Mature</th>
                <td>Developers have access to standardized application build scripts and are able to execute automated
                    tests on test data that is refreshed periodically on standardized environments.

                </td>
                <td>8</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val1" value="8"
                            [(ngModel)]="selectedScore2_1" matTooltip="8" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Optimized</th>
                <td>Developers have to run automated build scripts and automated tests for each check-in.

                </td>
                <td>10</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val1" value="10"
                            [(ngModel)]="selectedScore2_1" matTooltip="10" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-bordered mat-elevation-z8 mt-3">
        <thead>
            <tr>
                <th>Practice Stage</th>
                <th>CI tools stack</th>
                <th>Stage Score</th>
                <th>Points</th>
                <th>Account Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>No CI tools are used.
                </td>
                <td>1</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val2" value="1"
                            [(ngModel)]="selectedScore2_2" matTooltip="1" [matTooltipPosition]="'right'">
                    </div>
                </td>

                <td rowspan="5"> {{ selectedScore2_2 }}</td>
            </tr>
            <tr>
                <th scope="row">Initial</th>
                <td>We have CI tools and use them with manual build settings.

                </td>
                <td>3</td>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val2" value="3"
                            [(ngModel)]="selectedScore2_2" matTooltip="3" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Developed</th>
                <td>We have CI tools and use them for scheduling automated builds.

                </td>
                <td>5</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val2" value="5"
                            [(ngModel)]="selectedScore2_2" matTooltip="5" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Mature</th>
                <td>We have CI tools set up in a development environment, which invoke builds and deployments on events
                    (e.g. code changes and check-ins).

                </td>
                <td>8</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val2" value="8"
                            [(ngModel)]="selectedScore2_2" matTooltip="8" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Optimized</th>
                <td>We have CI tools set up in all environments, which invoke builds and deployments on events (e.g.
                    code changes and check-ins).

                </td>
                <td>10</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val2" value="10"
                            [(ngModel)]="selectedScore2_2" matTooltip="10" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-bordered mat-elevation-z8 mt-3">
        <thead>
            <tr>
                <th>Practice Stage</th>
                <th>Automating build processes using CI
                    tools
                </th>
                <th>Stage Score</th>
                <th>Points</th>
                <th>Account Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>We have only automated builds for our development environment.

                </td>
                <td>1</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val3" value="1"
                            [(ngModel)]="selectedScore2_3" matTooltip="1" [matTooltipPosition]="'right'">
                    </div>
                </td>

                <td rowspan="5"> {{ selectedScore2_3 }}</td>
            </tr>
            <tr>
                <th scope="row">Initial</th>
                <td>(Basic) + Build automation to all of the environments (QA and others).
                </td>
                <td>3</td>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val3" value="3"
                            [(ngModel)]="selectedScore2_3" matTooltip="3" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Developed</th>
                <td>(Initial) + Unit test for all layers of the application.

                </td>
                <td>5</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val3" value="5"
                            [(ngModel)]="selectedScore2_3" matTooltip="5" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Mature</th>
                <td>(Developing) + Security Tests

                </td>
                <td>8</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val3" value="8"
                            [(ngModel)]="selectedScore2_3" matTooltip="8" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Optimized</th>
                <td>(Mature) + Performance Tests

                </td>
                <td>10</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val3" value="10"
                            [(ngModel)]="selectedScore2_3" matTooltip="10" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-bordered mat-elevation-z8 mt-3">
        <thead>
            <tr>
                <th>Practice Stage</th>
                <th>Integration of developer code

                </th>
                <th>Stage Score</th>
                <th>Points</th>
                <th>Account Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>We have no check-in or integration of code until all the features, bug fixes, etc. are completed.

                </td>
                <td>1</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val4" value="1"
                            [(ngModel)]="selectedScore2_4" matTooltip="1" [matTooltipPosition]="'right'">
                    </div>
                </td>

                <td rowspan="5"> {{ selectedScore2_4 }}</td>
            </tr>
            <tr>
                <th scope="row">Initial</th>
                <td>We integrate our code daily without running any unit tests.

                </td>
                <td>3</td>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val4" value="3"
                            [(ngModel)]="selectedScore2_4" matTooltip="3" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Developed</th>
                <td>We integrate our work as soon as our smallest executable code is completed without any unit testing
                    pre-commit.
                </td>
                <td>5</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val4" value="5"
                            [(ngModel)]="selectedScore2_4" matTooltip="5" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Mature</th>
                <td>We integrate our work daily after running our unit test cases and only if 100% of unit test cases
                    for the code pass.

                </td>
                <td>8</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val4" value="8"
                            [(ngModel)]="selectedScore2_4" matTooltip="8" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Optimized</th>
                <td>We integrate our work as soon as the smallest executable code is completed and 100% of the unit test
                    cases for the code pass.

                </td>
                <td>10</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val4" value="10"
                            [(ngModel)]="selectedScore2_4" matTooltip="10" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-bordered mat-elevation-z8 mt-3">
        <thead>
            <tr>
                <th>Practice Stage</th>
                <th>Notifications during CI

                </th>
                <th>Stage Score</th>
                <th>Points</th>
                <th>Account Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>We currently take no action if our CI tool sends us an alert.

                </td>
                <td>1</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val5" value="1"
                            [(ngModel)]="selectedScore2_5" matTooltip="1" [matTooltipPosition]="'right'">
                    </div>
                </td>

                <td rowspan="5"> {{ selectedScore2_5 }}</td>
            </tr>
            <tr>
                <th scope="row">Initial</th>
                <td>We immediately stop the build process and prevent other code check-in to the broken code base if
                    build breaks due to check-in.

                </td>
                <td>3</td>

                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val5" value="3"
                            [(ngModel)]="selectedScore2_5" matTooltip="3" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Developed</th>
                <td>We revert back to the previous version of the last checked-in code if the build succeeds but the
                    automated unit tests fails. However, other developers can continue to check in their code.
                </td>
                <td>5</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val5" value="5"
                            [(ngModel)]="selectedScore2_5" matTooltip="5" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Mature</th>
                <td>We have mechanisms in place to alert a set of team members in case the CI tool comes across either a
                    bad build or failed unit tests.
                </td>
                <td>8</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val5" value="8"
                            [(ngModel)]="selectedScore2_5" matTooltip="8" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
            <tr>
                <th scope="row">Optimized</th>
                <td>We will stop the build process for all developers if there are build failures and/or failed unit
                    test cases. We only restart once the failures have been addressed and resolved.
                </td>
                <td>10</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="val5" value="10"
                            [(ngModel)]="selectedScore2_5" matTooltip="10" [matTooltipPosition]="'right'">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm me-2"
            [disabled]="!selectedScore2_1   || !selectedScore2_2 || !selectedScore2_3 || !selectedScore2_4 || !selectedScore2_5 "
            (click)="save()">Save</button>
        <a type="button" class="btn btn-secondary btn-sm" [routerLink]="['/feature/ci']">Next</a>
        <button class="btn" (click)="resetRadioButtons()">Reset</button>

    </div>