
<mat-nav-list class="" >
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/config']"
          [ngStyle]="{'color': color === 'config' ? 'red' : ''}"
          (click)="selectedItem('config')">Configuration Management</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/ci']"
          [ngStyle]="{'color': color === 'ci' ? 'red' : ''}"
          (click)="selectedItem('ci')">Continuous Integration</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cat']"
          [ngStyle]="{'color': color === 'cat' ? 'red' : ''}"
          (click)="selectedItem('cat')">Continuous Automated Testing</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/iac']"
          [ngStyle]="{'color': color === 'iac' ? 'red' : ''}"
          (click)="selectedItem('iac')">Infrastructure as code</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cdd']"
          [ngStyle]="{'color': color === 'cdd' ? 'red' : ''}"
          (click)="selectedItem('cdd')">Cont Delivery & Deployment</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cm']"
          [ngStyle]="{'color': color === 'cm' ? 'red' : ''}"
          (click)="selectedItem('cm')">Continuous Monitoring</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cs']"
          [ngStyle]="{'color': color === 'cs' ? 'red' : ''}"
          (click)="selectedItem('cs')">Continuous Security</a>
      </mat-list>
  
  </mat-nav-list>
  
  
  