
<mat-nav-list class="sidebar" >
      
      <mat-list>
        <mat-list-item [routerLink]="['/feature/config']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
            Configuration Management
        </mat-list-item>
      </mat-list>
      
      <mat-list>
        <mat-list-item [routerLink]="['/feature/ci']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Continuous Integration
        </mat-list-item>
      </mat-list>
      
    
      <mat-list>
        <mat-list-item [routerLink]="['/feature/cat']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
          Continuous Automated Testing
        </mat-list-item>
      </mat-list>
      
      
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/iac']"
          [ngStyle]="{'color': color === 'iac' ? 'red' : ''}"
          (click)="selectedItem('iac')">Infrastructure as code</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cdd']"
          [ngStyle]="{'color': color === 'cdd' ? 'red' : ''}"
          (click)="selectedItem('cdd')">Cont Delivery & Deployment</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cm']"
          [ngStyle]="{'color': color === 'cm' ? 'red' : ''}"
          (click)="selectedItem('cm')">Continuous Monitoring</a>
      </mat-list>
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/cs']"
          [ngStyle]="{'color': color === 'cs' ? 'red' : ''}"
          (click)="selectedItem('cs')">Continuous Security</a>
      </mat-list>
  
      <!-- <mat-list>
        <a mat-list-item [routerLink]="['/feature/dashboard']"
          [ngStyle]="{'color': color === 'dashboard' ? 'red' : ''}"
          (click)="selectedItem('dashboard')">Dashboard</a>
      </mat-list> -->
      <mat-list>
        <a mat-list-item [routerLink]="['/feature/dashboard']" (click)="selectedItem('/feature/dashboard')"
          [ngClass]="{'selected': (dbService.selectedMenuItem$ | async) === '/feature/dashboard'}">Dashboard</a>
      </mat-list>
  </mat-nav-list>
  
  
  